version: "3.9"

services:
  api:
    build: .
    command: node src/server.js
    ports:
      - "3000:3000"
    env_file:
      - .env

  worker:
    build: .
    command: node src/worker/worker.js
    env_file:
      - .env
